	#container {  

			background-image:url("starrynight.jpg");  
			height: 250px;  
			width: 250px;  
			position: relative; 
			
		}
	
		.block {  
			height: 25px;  
			width: 25px;  
			background: black;  
			position: absolute; 

		} 

	